.services-section {
  position: relative;

  &::after {
    content: "";
    top: -100px;
    left: 100px;
    transform: rotate(-45deg);
    z-index: 0;
    position: absolute;
    width: 200px;
    height: 100vh;
    background: linear-gradient(
      179.94deg,
      rgba(255, 255, 255, 0.1) 8.03%,
      rgba(255, 255, 255, 0.05) 59.21%,
      rgba(255, 255, 255, 0) 117.83%
    );
  }

  &::before {
    content: "";
    position: absolute;
    transform: rotate(30deg);
    top: -200px;
    right: 25%;
    width: 200px;
    height: 100vh;
    background: linear-gradient(
      180.01deg,
      rgba(255, 255, 255, 0.1) 6.8%,
      rgba(255, 255, 255, 0) 80%
    );
  }
}
