.services-section {
  position: relative;

  &::after {
    content: "";
    top: -100px;
    left: 100px;
    transform: rotate(-45deg);
    z-index: 0;
    position: absolute;
    width: 500px;
    height: 100vh;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 8.03%,
      rgba(255, 255, 255, 0.05) 59.21%,
      rgba(255, 255, 255, 0) 117.83%
    );
  }
}
